
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    color: gold
}

.App{
    background-color:#14161a;
    color: whitesmoke;
    min-height: 100vh;
}

.dataRow{
    background-color: '#16171a';
}
.dataRow:hover{
    background-color: midnightblue;
}

/* .pagination{
    .MuiPaginationItem-root{
        color: red;

    } */
/* } */

/* .pagination:MuiPaginationItem-root{
    color: red;
} */

/* Pagination:MuiPaginationItem{
    color: red;
} */